*{ 
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', 'Roboto', 'Ubuntu', sans-serif;
    
}

.home {
    position: relative;
    background-position: center;
    height: 570px;
    width: 100%;
    color: white;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    overflow: hidden;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    background: url('../img/banner.png')  no-repeat center/cover;
    background-size: cover;
    filter: blur(30px) brightness(0.3); /* Difuminado y oscurecido */
    transform: scale(1.1);
    z-index: -1;
}

.hero{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.hero h1{
    font-size: 60px;
    font-weight: 700;
}

.hero p{
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 20px;
}
.container-header {
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%; 
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex: 1;
}

/* Estilos para la navegación */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
    flex: 2;
    justify-content: center;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #00b894; /* Verde agua, ajusta si es necesario */
}

/* Botones de Login y Register */
.auth-buttons {
    display: flex;
    gap: 10px;
    flex: 1;
    font-size: 18px;
    justify-content: flex-end;
}

.btn {
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    border: 0px;
    transition: background 0.3s;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.2);
}

.btn-register {
    background-color: #00b894; /* Verde agua */
    border: none;
}

.btn-register:hover {
    background-color: #019870; /* Verde más oscuro */
}

/* Barra de búsqueda */
.search-bar {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 15px; 
    padding: 0px;
    width: 800px; 
    height: 70px;
    gap: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

.search-bar input,
.search-bar select {
    margin: 10px;
    border: none;
    outline: none;
    background: none;
    padding: 10px;
    flex: 1; /* Hace que los elementos ocupen el mismo espacio */
    font-size: 16px;
    appearance: none;
}

.search-btn {
    background: #2a8975; /* Color del botón */
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 0 15px 15px 0; /* Bordes redondeados en el botón */
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px; /* Espaciado entre el ícono y el texto */
    height: 100%;
}

.search-btn .fa-search {
    font-size: 13px; /* Ajusta el tamaño del ícono aquí */
}

.search-bar button:hover {
    background-color: #019870;
}

.divider {
    width: 1px;
    height: 25px;
    background: #ccc; /* Línea divisoria */
}

/* Estadísticas */
.stats {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
}



.stats span {
    font-size: 20px;
    font-weight: 500;
}

.stats p {
    font-size: 16px;
}

.stats img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.stat {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.stat-count {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

/* Empresas */

.companies {
    width: 100%;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    gap: 0 20px;
}

.company-logos {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    gap: 20px;
    width: 100%; 
    height: 40px;
    
}

/* Trabajos Recientes */

.recent-jobs {
    padding: 40px;
    background-color: #fff;
}

.container-jobs {
    margin: 10px 40px;;
    padding: 30px;
    gap: 50px
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.header p{
    font-size: 20px;
    font-weight: 500;
}

.container-jobs h2 {
    font-size: 50px;
}

.view-all {
    font-size: 25px;
    color: #019870;
    text-decoration: underline;
}

.job-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.job-card {
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.job-card h3 {
    font-size: 38px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 5px;
}

.job-card p, span {
    font-size: 20px;

}

.job-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.job-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.job-details {
    display: flex;
    flex-direction: column;
}

.save-icon {
    font-size: 20px;
    color: #666;
    cursor: pointer;
}

.save-icon:hover {
    color: #2a8975;
}

.time-label {
    font-size: 15px;
    color: #008080;
    background: #e0f7fa;
    padding: 4px 8px;
    border-radius: 5px;
    align-self: flex-start;
}

.job-info {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    font-size: 14px;
    color: #666;
    align-items: center;
    justify-content: space-between;
}



.icons {
    color: #2a8975; 
}


.job-btn {
    margin-left: auto;
    padding: 10px 10px;
    background: #008080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.job-btn:hover {
    background: #006666;
}

.company-job-logo{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
}

/* Sección Categorias */

.categories {
    text-align: center;
    padding: 60px 20px;
    background-color: #eaf4f2;
}

.categories-header h2 {
    font-size: 50px;

}

.categories-header p {
    color: #666;
    padding: 40px;
    margin-bottom: 10px;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.category-card {
    background: white;
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(95, 95, 95, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    
}

.category-card:hover {
    transform: translateY(-5px);
}

.categories-icon {
    font-size: 40px;
    color: #2a8975;
    margin-top: 20px;
    margin-bottom: 20px;
}

.category-card h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.jobs-count {
    display: inline-block;
    background: #eaf4f2;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: normal;
    color: #027373;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Bloque info */
.info-section {
    padding: 60px 20px;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.info-image {
    width: 100%;
    height: 400px;
    background: url('../img/group-modern-architects.jpg')  no-repeat center/cover;
    background-size: cover;
    border-radius: 15px;
    position: relative;
}

.info-text  {
    margin-left: 20px;
    
}

.info-text p {
    padding-top: 20px;
    text-align: left;
}

.info-text h2 {
    font-size: 40px;
    margin-bottom: 20px;
    
}

.info-buttons {
   margin-top: 50px;
}

.btn-info {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.primary {
    background: #027373;
    color: white;
}

.secondary {
    background: transparent;
    color: #027373;
    font-weight: 500;
    text-decoration: underline;
    margin-left: 10px;
}

.info-stats {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px 20px;
    margin: 40px auto;
    text-align: left;
    max-width: 1200px;
}

.subtitle{
    font-size: 25px;
    font-weight: 500;
}

.stat-info {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.stat-info h3 {
    color: #027373;
    font-size: 40px;

}

/* Bloque Banner */

.cta-banner {
    background: url('../img/freepik__people-bussiness-group-black-background__28481.png')  no-repeat center/cover;
    background-size: cover;
    color: white;
    padding: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 1200px;
    height: 200px;
    margin: 0 auto;
}

.cta-text  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.cta-banner h2 {
    font-size: 3rem;
    font-weight: bold;
}